body {
      background-image: url("../images/falcore.jpg");
      }

h1 {
  text-align: center;
  color: orange;
  text-transform: capitalize;
  font-family: futura;
}

#borat {
  width: 505px;
  height: 343px;
}

.pics {
  text-align: center;
}
